<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>

</head>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.Header{
    width: auto;
    height: 60px;
    background-color: rgb(206, 201, 174);
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 {
    padding: 17px;
}

table{
    border-collapse: collapse;
    
}


th, td {
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
    align-items: center; 
}










</style>
<body>

    <header class="Header">
        
        <nav>
            <a href="{% url 'Escola:adiciona' %}">Adicionar</a>
        </nav>
    </header>


    <h2>Seja bem vindo a tela principal das tarefas</h2>

    

    <table>
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Situação</th>
            <th>Data</th>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{tarefa.nome}}</td>
                <td>{{tarefa.descricao}}</td>
                <td>{% if tarefa.situacao %}Concluido{% else %}Pendente{% endif %}</td>
                <td>{{tarefa.data}}</td>
                <td><a href="{% url 'Escola:editar' tarefa.id %}">Editar</a></td>
                <td><a href="{% url 'Escola:remover' tarefa.id %}">remover</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    
    
</body>
</html>